@font-face {
  font-family: "MerriweatherSans";
  src: url('../fonts/sans-serif/MerriweatherSans-Regular.woff2') format("woff2"),
       url('../fonts/sans-serif/MerriweatherSans-Regular.otf') format("truetype");
  font-display: swap;
  font-weight: normal;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "MerriweatherSans";
  src: url('../fonts/sans-serif/MerriweatherSans-Bold.woff2') format("woff2"),
       url('../fonts/sans-serif/MerriweatherSans-Bold.otf') format("truetype");
  font-display: swap;
  font-weight: bold;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Lato";
  src: local('Lato'),
       url('../fonts/sans-serif/Lato-Regular.woff2') format("woff2"),
       url('../fonts/sans-serif/Lato-Regular.ttf') format("truetype");
  font-display: swap;
  font-weight: normal;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Lato";
  src: local('Lato'),
       url('../fonts/sans-serif/Lato-Bold.woff2') format("woff2"),
       url('../fonts/sans-serif/Lato-Bold.ttf') format("truetype");
  font-display: swap;
  font-weight: bold;
  unicode-range: U+000-5FF;
}
