/* MEDIA QUERIES

Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

*/

* {
  box-sizing: border-box;
}

/*
--------------------------------------------------
MARKUP
--------------------------------------------------
*/

body {
  font-family: "Lato", "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  color: var(--black);
  font-kerning: normal;
  font-feature-settings: "kern" 1;
  word-break: break-word;
}

h1 {
  font-family: "MerriweatherSans", "Open Sans", sans-serif;
  font-size: 2rem;
}

h1, h2, h3, h4 {
  font-family: "MerriweatherSans", "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  letter-spacing: -0.03rem;
}

h5 {
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0;
  line-height: 1.2;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

ol {
  margin: 0;
  padding: 0 0 0 2rem;
  list-style: decimal outside;
}

ul {
  margin: 0;
  padding: 0 0 0 2rem;
  list-style: disc outside;
}

li {
  padding: 0;
  margin: 1.2rem 0;
}

dd + dt {
  margin-top: 1.2rem;
}

p {
  margin: 1.2rem 0;
}

summary {
  margin: 1.2rem 0;
}

pre {
  font-family: "Ubuntu Mono", monospace;
  border-radius: var(--radius);
  background-color: #f6f6f6;
  padding: 0.9rem 1.1rem;
  overflow-x: scroll;
}

code {
  font-family: "Ubuntu Mono", monospace;
}

a, a:visited {
  color: inherit;
  text-decoration: underline;
}

h1 a, h1 a:visited,
h2 a, h2 a:visited,
h3 a, h3 a:visited,
h4 a, h4 a:visited,
h5 a, h5 a:visited {
  text-decoration: none;
}

h1 a:hover, h1 a:visited:hover,
h2 a:hover, h2 a:visited:hover,
h3 a:hover, h3 a:visited:hover,
h4 a:hover, h4 a:visited:hover,
h5 a:hover, h5 a:visited:hover {
  text-decoration: underline;
}

blockquote {
  background-color: var(--white);
  margin: 0;
  padding: 0.6rem 1.8rem;
  border-radius: var(--radius);
}

menu {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

select {
  display: block;
  width: 100%;
  padding: .375rem 1.75rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  appearance: none;
}

/*
--------------------------------------------------
UTILS
--------------------------------------------------
*/

.draft {
  font-weight: bold;
  font-size: 1.1rem;
  padding: 1rem 1.8rem;
  margin: 0;
  border-radius: var(--radius);
  border: 0.2rem solid var(--black);
}

.active {
  font-weight: bold;
}

.read-more {
  font-weight: bold;
  font-size: 0.875rem;
}

/*
--------------------------------------------------
MARKUP
--------------------------------------------------
*/

.markup__h2,
.markup__h3,
.markup__h4,
h5 {
  scroll-margin-top: 8rem;
}

@media (min-width: 768px) {
  .markup__h2,
  .markup__h3,
  .markup__h4,
  h5 {
    scroll-margin-top: 9.6rem;
  }
}

.markup__h2 {
  font-family: "MerriweatherSans", "Open Sans", sans-serif;
  font-size: 1.5rem;
  margin-top: 1.8rem;
}

.markup__h3 {
  font-family: "MerriweatherSans", "Open Sans", sans-serif;
  font-size: 1.15rem;
  margin-top: 1.2rem;
}

.markup__h4 {
  font-size: 1rem;
  margin-top: 1rem;
}

/* TITLE ANCHORS */

.markup__h2 .markup__anchor,
.markup__h3 .markup__anchor,
.markup__h4 .markup__anchor {
  color: #aaa;
  visibility: hidden;
}

.markup__h2:hover .markup__anchor,
.markup__h3:hover .markup__anchor,
.markup__h4:hover .markup__anchor {
  visibility: inherit;
}

.markup__figure {
  padding: 0;
  margin: 0;
}

.markup__image {
  display: flex;
  max-width: 100%;
  max-height: 100vh;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
}

.markup__figcaption {
  margin-top: -0.8rem;
  font-size: 0.9375rem;
  text-align: center;
  padding-bottom: 1rem;
}

/*
--------------------------------------------------
TOC
--------------------------------------------------
*/

#TableOfContents > ol {
  list-style: decimal inside;
  font-weight: bold;
  padding: 1rem 0;
  margin: 0 1.8rem;
  border-radius: var(--radius);
}

#TableOfContents > ol > li {
  font-size: 0.9375rem;
  padding: 0;
  margin: 0.4rem 0;
}

#TableOfContents > ol > li > ol {
  list-style: disc inside;
  font-weight: normal;
  padding: 0;
  margin-left: 1rem;
}

#TableOfContents > ol > li > ol > li {
  font-size: 0.875rem;
  padding: 0;
  margin: 0.4rem 0;
}

/*
--------------------------------------------------
FOOTNOTES
--------------------------------------------------
*/

.footnotes {
  font-size: 0.9375rem;
}

.footnotes hr {
  display: none;
}
