/* VARIABLES */

:root {
  --color-generic: rgb(146, 114, 33);
  --color-generic-light: rgb(235, 225, 200);

  --black: #111;
  --gray: #777;
  --white: #e1e1e1;

  --radius: 0.25rem;
  --transition-secs: 0.2s;
  --border: 1px solid var(--black);

  --max-width: 78rem;
}
