{{ $isAbsolute := (urls.Parse .Destination).Scheme -}}

{{ $url := .Destination -}}

{{ if not $isAbsolute -}}
  {{ with .Page.Resources.GetMatch .Destination -}}
    {{ $url = .RelPermalink -}}
  {{ end -}}
  {{ $url = absURL $url -}}
{{ end -}}

{{ $caption := .Title | markdownify }}

<figure class="markup__figure">
  <img class="markup__image" src="{{ $url | safeURL }}" alt="{{ .Text }}"
    {{- with $caption }} title="{{ plainify . }}"{{ end -}}
  >
  {{ with $caption -}}
  <figcaption class="markup__figcaption">{{ . }}</figcaption>
  {{- end }}
</figure>

