{{ range where .Site.Sections "Section" "articulos" }}
  <ul class="sections">
    {{ range .Pages }}
      <li class="sections__li">

        <a class="sections__image-link" href="{{ .RelPermalink }}">
          {{ if .CurrentSection.Params.images }}
            <img class="sections__image"
                style="background-color: {{ .CurrentSection.Params.colors.dark }}"
                src="{{ index .CurrentSection.Params.images 0 | relURL }}">
          {{ end }}
        </a>

        <div class="sections__text">
          <h4>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a> <strong>({{ len .Pages }})</strong>
          </h4>
          <div class="sections__desc">{{ .Summary }}</div>
        </div>

      </li>
    {{ end }}
  </ul>
{{ end }}
