<select onchange="location = this.value">
  <option disabled selected>Etiqueta</option>
  {{ range . }}
    <option value="{{ .Page.RelPermalink }}">{{ .Page.Title }} ({{ .Count }})</option>
  {{ end }}
</select>
