
{{ if .GitInfo }}
  {{ $authorName := $.GitInfo.AuthorName }}
  {{ $commitUrl := printf "https://gitlab.com/tinfoilismo/tinfoilismo.gitlab.io/-/commit/%s" $.GitInfo.Hash }}
  {{ $abbrMonth := index $.Site.Data.monthsshort (printf "%d" .Lastmod.Month) }}
  {{ $modifiedDate := printf "%d %s %d" .Lastmod.Day $abbrMonth .Lastmod.Year }}
  {{ $pageGitContent := printf "%s%s" "https://gitlab.com/tinfoilismo/tinfoilismo.gitlab.io/-/blob/master/content/" .File.Path }}
  {{ $pageGitHistory := printf "%s%s" "https://gitlab.com/tinfoilismo/tinfoilismo.gitlab.io/-/commits/master/content/" .File.Path }}

  <aside class="article__meta">
    <h5>Meta</h5>
    <div>
      <p>
        Esta página fue modificada por última vez el
        <strong><a href="{{ $commitUrl }}">{{ $modifiedDate }}</a></strong>
        por
        <strong>{{ $authorName }}</strong>
      </p>
      <ul>
        <li><a href="{{ $pageGitContent }}">Editar página</a> en GitLab</li>
        <li><a href="{{ $pageGitHistory }}">Ver histórico</a> de cambios</li>
      </ul>
    </div>
  </aside>

{{ end }}
