{{ $currentArticle := . }}
{{ $articles := where .Site.RegularPages "Section" "articulos" }}
{{ $relatedArticles := where $articles ".Params.etiquetas" "intersect" .Params.etiquetas }}

{{ if gt (len $relatedArticles) 1 }}
  <aside class="article__related">
    <h5>Artículos relacionados</h5>
    <div>
      {{ range first 5 (shuffle $relatedArticles) }}
        {{ if ne . $currentArticle }}
          <p><a href="{{ .RelPermalink }}">{{ .Page.Title }}</a></p>
        {{ end }}
      {{ end }}
    </div>
  </aside>
{{ end }}
