<header class="article__header">
  <div class="article__title">
    <h1>{{ .Title }}</h1>
  </div>

  <div class="tags article__subtitle">
    {{ partial "blocks/section-icon-text.html" . }}

    {{ partial "blocks/tags.html" (.GetTerms "etiquetas") }}

    {{ if .Params.featured }}
      <img class="article__star" title="Artículo destacado" src="{{ "/images/star.svg" | relURL }}">
    {{ end }}
  </div>

</header>
