{{ if .TableOfContents }}
<aside class="article__toc">
  <h5>Índice</h5>
  <div class="article__toc-content" style="background-color: {{ .CurrentSection.Params.colors.light }}">
    {{ .TableOfContents }}
  </div>
</aside>
{{ end }}
