<ul class="breadcrumbs">
  <!-- <a href="{{ .Site.Home.Permalink }}">{{ .Site.Title }}</a> -->
  {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
</ul>

{{ define "breadcrumbnav" }}
  {{ if .p1.Parent }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
  {{ else if not .p1.IsHome }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
  {{ end }}

  <li{{ if eq .p1 .p2 }} class="active"{{ end }}>
    {{ if in (slice "Etiquetas" "Artículos") .p1.Title }}
      {{ .p1.Title }}
    {{ else }}
      <a href="{{ .p1.Permalink }}">{{ .p1.Title }}</a>
    {{ end }}
  </li>

{{ end }}
