<section class="header-layout">

  <input class="hamburger-icon__checkbox" type="checkbox" id="hamburger-icon__checkbox" />

  <div class="header-layout__row">

    <div class="header-layout__logo">
      <a href="{{ .Site.Home.Permalink }}" class="site-logo">
        <img class="site-logo__icon" src="{{ "/images/icon.svg" | relURL }}">
        <img class="site-logo__text-image" src="{{ "/images/logo.svg" | relURL }}">
      </a>
    </div>

    <label class="hamburger-icon" for="hamburger-icon__checkbox">
      <span class="hamburger-icon__line"></span>
    </label>

    <menu class="normal-menu">
      {{ partial "site/menu.html" . }}
    </menu>

  </div>

  <menu class="hamburger-menu__dropdown">
    <ul class="hamburger-menu">

      <li class="hamburger-menu__item">
        <div class="hamburger-menu__title">Secciones</div>
        {{ range where .Site.Sections "Section" "articulos" }}
          <ul class="hamburger-menu__content">
            {{ range .Pages }}
              <li>
                <a href="{{ .RelPermalink }}">{{ .Title }} ({{ len .Pages }})</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </li>

      <li class="hamburger-menu__item">
        <div class="hamburger-menu__title">Etiquetas</div>
        <ul class="hamburger-menu__content">
          {{ partial "blocks/tags-count-select.html" .Site.Taxonomies.etiquetas.ByCount }}
        </ul>
      </li>

      <li class="hamburger-menu__item">
        <div class="hamburger-menu__title">Más</div>
        <ul class="hamburger-menu__content">
          {{ range .Site.Menus.main }}
            <li>
              <a href="{{ .URL }}">{{ .Name }}</a>
            </li>
          {{ end }}
        </ul>
      </li>

    </ul>
  </menu>

</section>
