{{- $sectionName := .Get 0 }}
{{- $shouldPrintItself := .Get 1 | default false }}
{{- $sectionPage := site.GetPage $sectionName }}
{{- $pages := where $.Site.RegularPages "Section" $sectionName }}

{{ if $shouldPrintItself }}<a href="{{ $sectionPage.RelPermalink }}">{{ $sectionPage.Title }}</a>{{ end }}
<ul>
{{ range $pages }}
  <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
{{ end }}
</ul>