<div class="updated">

  <h5>Últimas actualizaciones</h5>
  <div class="horizontal-grid">
    {{ range first 3 (where .Site.RegularPages.ByLastmod.Reverse "Section" "articulos") }}
      <article class="horizontal-grid__item">

        <div class="horizontal-grid__item-title">
          <h3>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </h3>
        </div>

        <ul class="tags">
          {{ partial "blocks/section-icon.html" . }}
          {{ partial "blocks/tags.html" (.GetTerms "etiquetas") }}
        </ul>

        <div class="horizontal-grid__item-content">
          {{ .Summary | truncate 140 }}
          <a class="read-more" href="{{ .RelPermalink }}">Leer más</a> →
        </div>

      </article>
    {{ end }}
  </div>

</div>
