{{ define "title" }}
  Posts – {{ .Site.Title }}
{{ end }}

{{ define "main" }}

<section>
  <div class="inner">

    <section class="list-article">

      <aside class="list-article__aside">

        {{ partial "list/aside.html" . }}

      </aside>

      <main class="list-article__main">

        <ul class="list-article__years">
          <span>Ir al año</span>
          {{ range .Data.Pages.GroupByDate "2006" }}
            <li><a href="#{{ .Key }}">{{ .Key }}</a></li>
          {{ end }}
        </ul>

        {{ range .Data.Pages.GroupByDate "2006" }}
          <h5 id="{{ .Key }}">{{ .Key }}</h5>

          {{ range .Pages }}
            <article>

              <header>
                <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                <div>
                  {{ partial "utils/date.html" (dict "date" .Date "months" $.Site.Data.monthsshort) }}
                </div>
              </header>

              <main>
                {{ .Summary }}
              </main>

            </article>
          {{ end }}

        {{ end }}

      </main>

    </section>

  </div>
</section>

{{ end }}
