<article class="article-item">

  <header>
    <h3>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h3>
  </header>

  <main>
    <p class="article-item__summary">{{ .Summary | truncate 180 }}</p>
  </main>

  <footer class="article-item__footer">

    <div class="article-item__subtitle">
      <ul class="tags">
        {{ partial "blocks/section-icon.html" . }}
        {{ partial "blocks/tags.html" (.GetTerms "etiquetas") }}
      </ul>

      {{ if .Params.featured }}
        <div class="article-item__star">
          <img title="Artículo destacado" src="{{ "/images/star.svg" | relURL }}">
        </div>
      {{ end }}
    </div>

  </footer>

</article>
