<section>
  <div class="inner">

    <section class="list-article">

      <aside class="list-article__aside">

        {{ partial "list/aside.html" . }}

        <div>
          <h5>Temas</h5>
          <ul class="tags">
            {{ partial "blocks/tags-count.html" .Site.Taxonomies.temas.ByCount }}
          </ul>
        </div>

        <div>
          <h5>Sujetos</h5>
          <ul class="tags">
            {{ partial "blocks/tags-count.html" .Site.Taxonomies.sujetos.ByCount }}
          </ul>
        </div>

      </aside>

      <main class="list-article__main">

        <ul class="list-article__years">
          <span>Ir al año</span>
          {{ range .Data.Pages.GroupByDate "2006" }}
            <li><a href="#{{ .Key }}">{{ .Key }}</a></li>
          {{ end }}
        </ul>

        {{ range .Data.Pages.GroupByDate "2006" }}
          <div class="list-article__block">
            <div class="chronology-year">
              <img src="{{ "images/calendar.svg" | relURL }}">
              <h5 id="{{ .Key }}">{{ .Key }}</h5>
            </div>

            {{ range .Pages }}
              <article class="chronology-item">
                <header class="chronology-item__header">
                  <h3>{{ partial "utils/date.html" (dict "date" .Date "months" $.Site.Data.monthsshort) }}</h3>
                  <div>
                    <span>Temas</span>
                    <ul class="tags">
                      {{ partial "blocks/tags.html" (.GetTerms "temas") }}
                    </ul>
                  </div>
                  <div>
                    <span>Sujetos</span>
                    <ul class="tags">
                      {{ partial "blocks/tags.html" (.GetTerms "sujetos") }}
                    </ul>
                  </div>
                </header>
                <main class="chronology-item__main">{{ .Content }}</main>
              </article>
            {{ end }}

          </div>
        {{ end }}

      </main>

    </section>

  </div>
</section>
