{{- $dictionaries := $.Site.Data.kobo.dictionaries -}}
{{- $definitionDicts := where $dictionaries "type" "definition" }}
{{- $translationDicts := where $dictionaries "type" "translation" }}
{{- $languageI18nPrefix := "language." }}

<ul>
  {{- range $definitionDicts }}
  {{- $translations := where $translationDicts "sourceLanguageCode" .sourceLanguageCode }}
  {{- $sourceLabel := i18n (print $languageI18nPrefix .sourceLanguageCode) }}
  <li>
    {{ strings.FirstUpper $sourceLabel }}:
    <a
      href="{{ .downloads.v3 | default .downloads.v1 }}"
      target="_blank"
      rel="nofollow noreferrer"
      >definiciones</a
    > ({{ .sourceLanguageCode }})
    {{- range $translations }}
    {{- $targetLabel := i18n (print $languageI18nPrefix .targetLanguageCode) -}}
    , <a
      href="{{ .downloads.v3 | default .downloads.v1 }}"
      target="_blank"
      rel="nofollow noreferrer"
      >{{ $sourceLabel }}-{{ $targetLabel }}</a
    > ({{ .sourceLanguageCode }}-{{ .targetLanguageCode }})
    {{- end }}
  </li>
  {{- end }}
</ul>
