<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="canonical" href="{{ .Permalink }}"/>

    <link rel="preload" as="font" href="{{ "/fonts/sans-serif/Lato-Regular.woff2" | relURL }}" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="{{ "/fonts/sans-serif/Lato-Bold.woff2" | relURL }}" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="{{ "/fonts/sans-serif/MerriweatherSans-Regular.woff2" | relURL }}" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="{{ "/fonts/sans-serif/MerriweatherSans-Bold.woff2" | relURL }}" type="font/woff2" crossorigin="anonymous">

    {{ $normalize := resources.Get "css/normalize.css" }}
    {{ $fonts := resources.Get "css/fonts.css" }}
    {{ $variables := resources.Get "css/variables.css" }}
    {{ $generic := resources.Get "css/generic.css" }}
    {{ $pages := resources.Get "css/pages.css" }}
    {{ $layout := resources.Get "css/layout.css" }}
    {{ $blocks := resources.Get "css/blocks.css" }}

    {{ $allCSS := slice $normalize $fonts $variables $layout $generic $pages $blocks }}
    {{ $style := $allCSS | resources.Concat "css/styles.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">

    <link rel="shortcut icon" href="{{ "/favicon.svg" | relURL }}" type="image/svg" />

    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}

    <title>
      {{ block "title" . }}
        {{ .Site.Title }}
      {{ end }}
    </title>
  </head>
  <body>

    <div class="wrapper-header">

      <header class="site-header">
        <div class="inner">
          {{ partial "site/header.html" . }}
        </div>
      </header>

      {{ if not .IsHome }}
        <nav class="site-nav" style="background-color: {{ .CurrentSection.Params.colors.light }}77">
          <div class="inner">
            {{ partial "site/breadcrumbs.html" . }}
          </div>
        </nav>
      {{ end }}

    </div>

    <div class="wrapper-body">

      <main class="site-main">
        {{ block "main" . }}
          <!-- main -->
        {{ end }}
      </main>

      <footer class="site-footer">
        <div class="inner">
          {{ partial "site/footer.html" . }}
        </div>
      </footer>

    </div>

  </body>
</html>
