{{ define "title" }}
  {{ .Title }} – {{ .Site.Title }}
{{ end }}

{{ define "main" }}

  <section>
    <div class="inner">

      <section class="list-article">

        <aside class="list-article__aside">

          {{ partial "list/aside.html" . }}

        </aside>

        <main class="list-article__main">

          {{ range .RegularPages.ByLastmod.Reverse }}
            {{ partial "list/article.html" . }}
          {{ end }}

        </main>

      </section>

    </div>
  </section>

{{ end }}
