{{ define "title" }}
  {{ .Title }} – {{ .Site.Title }}
{{ end }}

{{ define "main" }}

<section>
  <div class="inner">

    <section class="list-article">

      <aside class="list-article__aside">

        <div>
          <img class="list-article__image" src="{{ "images/tag.svg" | relURL }}">

          <h1>{{ .Title }}</h1>

          <div class="list-article__summary">
            <p>{{ .Content }}</p>
            <p>Hay <strong>{{ len .RegularPages }} artículos</strong> con esta etiqueta.</p>
          </div>
        </div>

      </aside>

      <main class="list-article__main">

        {{ range .RegularPages.ByLastmod.Reverse }}
          {{ partial "list/article.html" . }}
        {{ end }}

      </main>

    </section>

  </div>
</section>

{{ end }}
